.navbutton,
.navbutton:link,
.navbutton:visited,
.navbutton:focus {
    background-color: #0D99FF;
    padding: 1rem;
    max-width: 10rem;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    text-align: center;
    text-decoration: none;
}

.navbutton.view {
    background-color: #3AC9D6;
}

.navbutton.success {
    background-color: #4BD396;
}

.navbutton.warning {
    background-color: #FFD966;
}

.navbutton.neutral {
    background-color: #CCCCCC;
}

.navbutton.delete {
    background-color: #F5707A;
}

.navbutton:hover {
    background-color: orange;
}

.navbutton:active {
    background-color: red;
}