.navbutton,
.navbutton:link,
.navbutton:visited,
.navbutton:focus {
    background-color: #0D99FF;
    padding: 1rem;
    max-width: 10rem;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    text-align: center;
}

.navbutton:hover {
    background-color: orange;
}

.navbutton:active {
    background-color: red;
}