.dashboard {
    display: flex;
    flex-direction: column;
}

.dashboard main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard .control {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: auto;
}

.dashboard .graph {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 0 2rem;
}

.dashboard :not(.chart3) {
    width: 60vw;
}

.dashboard .chart3 {
    width: 20rem;
}