.dashboard {
    display: flex;
    flex-direction: column;
}

.dashboard main {
    display: flex;
}

.dashboard .control {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: auto;
}