.file-list {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}


.file-list .list {
    list-style-type: none;
    border: 2px solid black;
    height: 50vh;
    overflow: auto;
}

.file-list .file-item,
.file-list .file-item:link,
.file-list .file-item:focus {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    padding-right: 2rem;
}

.file-list .file-item:hover {
    background-color: #0D99FF;
    color: white;
}

.file-list .file-item:active {
    background-color: orange;
}

.file-list .file-item .file-detail {
    flex: 1;
}

.file-list .file-item .file-detail .success {
    color: #4BD396;
}

.file-list .file-item .file-detail .failed {
    color: #F5707A;
}

.file-list .filename {
    font-size: 1.5rem;
    font-weight: bold;
}

.file-list .info {
    display: flex;
    gap: 4rem;
}