.navbar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navbar li {
    font-size: 1.2rem;
}

.navbar.static a:link,
.navbar.static a:visited,
.navbar.static a:focus {
    text-decoration: none;
    color: black;
}

