.title {
    display: flex;
    flex-direction: column;
}

.title .site-title,
.title span {
    font-family: Finger Paint, Verdana, Geneva, Tahoma, sans-serif;
    color: #0D99FF;
}

.title .site-title {
    font-size: 3rem;
    max-width: 35rem;
    padding: 1rem 0;
    margin: 0;
}

@media screen and (max-width: 999px) {
    .title {
        align-items: center;
    }

    .site-title {
        text-align: center;
    }

    .title span {
        display: block;
    }
}

@media screen and (min-width: 1000px) {
}